/* Ionic Variables and Theming. For more info, please see:
http://ionicframework.com/docs/theming/ */

/** Ionic CSS Variables **/
:root {
  --ion-font-family: "Anonymous Pro", serif;
  /** primary **/
  --ion-color-primary: #2f5c5c;
	--ion-color-primary-rgb: 47,92,92;
	--ion-color-primary-contrast: #ffffff;
	--ion-color-primary-contrast-rgb: 255,255,255;
	--ion-color-primary-shade: #295151;
	--ion-color-primary-tint: #446c6c;

	--ion-color-secondary: #769c9c;
	--ion-color-secondary-rgb: 118,156,156;
	--ion-color-secondary-contrast: #000000;
	--ion-color-secondary-contrast-rgb: 0,0,0;
	--ion-color-secondary-shade: #688989;
	--ion-color-secondary-tint: #84a6a6;

	--ion-color-tertiary: #ADDBDB;
	--ion-color-tertiary-rgb: 173,219,219;
	--ion-color-tertiary-contrast: #000000;
	--ion-color-tertiary-contrast-rgb: 0,0,0;
	--ion-color-tertiary-shade: #98c1c1;
	--ion-color-tertiary-tint: #b5dfdf;

	--ion-color-success: #B19F95;
	--ion-color-success-rgb: 177,159,149;
	--ion-color-success-contrast: #000000;
	--ion-color-success-contrast-rgb: 0,0,0;
	--ion-color-success-shade: #9c8c83;
	--ion-color-success-tint: #b9a9a0;

	--ion-color-warning: #DBA31C;
	--ion-color-warning-rgb: 219,163,28;
	--ion-color-warning-contrast: #000000;
	--ion-color-warning-contrast-rgb: 0,0,0;
	--ion-color-warning-shade: #c18f19;
	--ion-color-warning-tint: #dfac33;

	--ion-color-danger: #800C0B;
	--ion-color-danger-rgb: 128,12,11;
	--ion-color-danger-contrast: #ffffff;
	--ion-color-danger-contrast-rgb: 255,255,255;
	--ion-color-danger-shade: #710b0a;
	--ion-color-danger-tint: #8d2423;

	--ion-color-light: #efecea;
	--ion-color-light-rgb: 239,236,234;
	--ion-color-light-contrast: #000000;
	--ion-color-light-contrast-rgb: 0,0,0;
	--ion-color-light-shade: #d2d0ce;
	--ion-color-light-tint: #f1eeec;

	--ion-color-medium: #5C3F2F;
	--ion-color-medium-rgb: 92,63,47;
	--ion-color-medium-contrast: #ffffff;
	--ion-color-medium-contrast-rgb: 255,255,255;
	--ion-color-medium-shade: #513729;
	--ion-color-medium-tint: #6c5244;

	--ion-color-dark: #251913;
	--ion-color-dark-rgb: 37,25,19;
	--ion-color-dark-contrast: #ffffff;
	--ion-color-dark-contrast-rgb: 255,255,255;
	--ion-color-dark-shade: #211611;
	--ion-color-dark-tint: #3b302b;

  --ion-background-color: #efecea;
  --ion-background-color-rgb: 239, 236, 234;

  --ion-text-color: #251913;
  --ion-text-color-rgb: 37, 25, 19;

  --ion-text-color-step-50: #2f241e;
  --ion-text-color-step-100: #392e29;
  --ion-text-color-step-150: #433933;
  --ion-text-color-step-200: #4d433e;
  --ion-text-color-step-250: #584e49;
  --ion-text-color-step-300: #625854;
  --ion-text-color-step-350: #6c635e;
  --ion-text-color-step-400: #766d69;
  --ion-text-color-step-450: #807874;
  --ion-text-color-step-500: #8a837f;
  --ion-text-color-step-550: #948d89;
  --ion-text-color-step-600: #9e9894;
  --ion-text-color-step-650: #a8a29f;
  --ion-text-color-step-700: #b2ada9;
  --ion-text-color-step-750: #bdb7b4;
  --ion-text-color-step-800: #c7c2bf;
  --ion-text-color-step-850: #d1ccca;
  --ion-text-color-step-900: #dbd7d5;
  --ion-text-color-step-950: #e5e1df;

  --ion-background-color-step-50: #e5e1df;
  --ion-background-color-step-100: #dbd7d5;
  --ion-background-color-step-150: #d1ccca;
  --ion-background-color-step-200: #c7c2bf;
  --ion-background-color-step-250: #bdb7b4;
  --ion-background-color-step-300: #b2ada9;
  --ion-background-color-step-350: #a8a29f;
  --ion-background-color-step-400: #9e9894;
  --ion-background-color-step-450: #948d89;
  --ion-background-color-step-500: #8a837f;
  --ion-background-color-step-550: #807874;
  --ion-background-color-step-600: #766d69;
  --ion-background-color-step-650: #6c635e;
  --ion-background-color-step-700: #625854;
  --ion-background-color-step-750: #584e49;
  --ion-background-color-step-800: #4d433e;
  --ion-background-color-step-850: #433933;
  --ion-background-color-step-900: #392e29;
  --ion-background-color-step-950: #2f241e;
}

@media (prefers-color-scheme: dark) {
  /*
   * Dark Colors
   * -------------------------------------------
   */

  body {

    .anonymous-pro-regular {
      font-family: "Anonymous Pro", serif;
      font-weight: 400;
      font-style: normal;
    }
    
    .anonymous-pro-bold {
      font-family: "Anonymous Pro", serif;
      font-weight: 700;
      font-style: normal;
    }
    
    .anonymous-pro-regular-italic {
      font-family: "Anonymous Pro", serif;
      font-weight: 400;
      font-style: italic;
    }
    
    .anonymous-pro-bold-italic {
      font-family: "Anonymous Pro", serif;
      font-weight: 700;
      font-style: italic;
    }
    
    --ion-background-color: #251913;
    --ion-background-color-rgb: 37, 25, 19;
  
    --ion-text-color:  #efecea;
    --ion-text-color-rgb: 239, 236, 234;

    /* Invert some of the color relationships for dark mode */
    --ion-color-primary: #769c9c;
    --ion-color-primary-rgb: 118,156,156;
    --ion-color-primary-contrast: #000000;
    --ion-color-primary-contrast-rgb: 0,0,0;
    --ion-color-primary-shade: #688989;
    --ion-color-primary-tint: #84a6a6;

    --ion-color-secondary: #ADDBDB;
    --ion-color-secondary-rgb: 173,219,219;
    --ion-color-secondary-contrast: #000000;
    --ion-color-secondary-contrast-rgb: 0,0,0;
    --ion-color-secondary-shade: #98c1c1;
    --ion-color-secondary-tint: #b5dfdf;

    --ion-color-tertiary: #2f5c5c;
    --ion-color-tertiary-rgb: 47,92,92;
    --ion-color-tertiary-contrast: #ffffff;
    --ion-color-tertiary-contrast-rgb: 255,255,255;
    --ion-color-tertiary-shade: #295151;
    --ion-color-tertiary-tint: #446c6c;

    --ion-color-success: #B19F95;
    --ion-color-success-rgb: 177,159,149;
    --ion-color-success-contrast: #000000;
    --ion-color-success-contrast-rgb: 0,0,0;
    --ion-color-success-shade: #9c8c83;
    --ion-color-success-tint: #b9a9a0;

    --ion-color-warning: #DBA31C;
    --ion-color-warning-rgb: 219,163,28;
    --ion-color-warning-contrast: #000000;
    --ion-color-warning-contrast-rgb: 0,0,0;
    --ion-color-warning-shade: #c18f19;
    --ion-color-warning-tint: #dfac33;
  
    --ion-color-danger: #800C0B;
    --ion-color-danger-rgb: 128,12,11;
    --ion-color-danger-contrast: #ffffff;
    --ion-color-danger-contrast-rgb: 255,255,255;
    --ion-color-danger-shade: #710b0a;
    --ion-color-danger-tint: #8d2423;

    --ion-color-dark: #f4f5f8;
    --ion-color-dark-rgb: 244, 245, 248;
    --ion-color-dark-contrast: #000000;
    --ion-color-dark-contrast-rgb: 0, 0, 0;
    --ion-color-dark-shade: #d7d8da;
    --ion-color-dark-tint: #f5f6f9;

    --ion-color-medium: #989aa2;
    --ion-color-medium-rgb: 152, 154, 162;
    --ion-color-medium-contrast: #000000;
    --ion-color-medium-contrast-rgb: 0, 0, 0;
    --ion-color-medium-shade: #86888f;
    --ion-color-medium-tint: #a2a4ab;

    --ion-color-light: #222428;
    --ion-color-light-rgb: 34, 36, 40;
    --ion-color-light-contrast: #ffffff;
    --ion-color-light-contrast-rgb: 255, 255, 255;
    --ion-color-light-shade: #1e2023;
    --ion-color-light-tint: #383a3e;
  }

  /*
   * iOS Dark Theme
   * -------------------------------------------
   */

  .ios body {
    --ion-background-color: #000000;
    --ion-background-color-rgb: 0, 0, 0;

    --ion-text-color: #ffffff;
    --ion-text-color-rgb: 255, 255, 255;

    --ion-color-step-50: #0d0d0d;
    --ion-color-step-100: #1a1a1a;
    --ion-color-step-150: #262626;
    --ion-color-step-200: #333333;
    --ion-color-step-250: #404040;
    --ion-color-step-300: #4d4d4d;
    --ion-color-step-350: #595959;
    --ion-color-step-400: #666666;
    --ion-color-step-450: #737373;
    --ion-color-step-500: #808080;
    --ion-color-step-550: #8c8c8c;
    --ion-color-step-600: #999999;
    --ion-color-step-650: #a6a6a6;
    --ion-color-step-700: #b3b3b3;
    --ion-color-step-750: #bfbfbf;
    --ion-color-step-800: #cccccc;
    --ion-color-step-850: #d9d9d9;
    --ion-color-step-900: #e6e6e6;
    --ion-color-step-950: #f2f2f2;

    --ion-item-background: #000000;

    --ion-card-background: #1c1c1d;
  }

  .ios ion-modal {
    --ion-background-color: var(--ion-color-step-100);
    --ion-toolbar-background: var(--ion-color-step-150);
    --ion-toolbar-border-color: var(--ion-color-step-250);
  }

  /*
   * Material Design Dark Theme
   * -------------------------------------------
   */

  .md body {
    --ion-background-color: #121212;
    --ion-background-color-rgb: 18, 18, 18;

    --ion-text-color: #ffffff;
    --ion-text-color-rgb: 255, 255, 255;

    --ion-border-color: #222222;

    --ion-color-step-50: #1e1e1e;
    --ion-color-step-100: #2a2a2a;
    --ion-color-step-150: #363636;
    --ion-color-step-200: #414141;
    --ion-color-step-250: #4d4d4d;
    --ion-color-step-300: #595959;
    --ion-color-step-350: #656565;
    --ion-color-step-400: #717171;
    --ion-color-step-450: #7d7d7d;
    --ion-color-step-500: #898989;
    --ion-color-step-550: #949494;
    --ion-color-step-600: #a0a0a0;
    --ion-color-step-650: #acacac;
    --ion-color-step-700: #b8b8b8;
    --ion-color-step-750: #c4c4c4;
    --ion-color-step-800: #d0d0d0;
    --ion-color-step-850: #dbdbdb;
    --ion-color-step-900: #e7e7e7;
    --ion-color-step-950: #f3f3f3;

    --ion-item-background: #1e1e1e;

    --ion-toolbar-background: #1f1f1f;

    --ion-tab-bar-background: #1f1f1f;

    --ion-card-background: #1e1e1e;
  }
}
